:root{
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;

    --branco: #fff;
    --laranja: #ff6c00;
    --vinho: #7d2a00;
    --cinza: #695853;
    --azul-escuro: #162b47;
    --beje: #fff9f4;
    --of-white: #fef7f0;
}